@font-face {
    font-family: 'SFUIDisplay-Regular';
    src: url('../resources/fonts/SFUIDisplayRegular.otf');
  }
  @font-face {
    font-family: 'SFUIDisplay-Bold';
    src: url('../resources/fonts/SFUIDisplayBold.otf');
  }
  